:root {
  --text: #efefef;
  --body: linear-gradient(to right, #192835, #152430);
  --box: #353361;
  --container: #081b25;

  --input: #fff;
  --textGlobal: #222;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--body);
  font-family: "Poppins", sans-serif;
  color: var(--text);
}
