main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding: 6rem 3rem;
}
main #search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
main #search h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
main #search .input {
  margin-top: 1.8rem;
  max-width: 35rem;
  height: 6rem;
}
main #search form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10rem;
  overflow: hidden;
}
main #search .input input[type="text"],
main #search .input button {
  height: 100%;

  background: var(--input);
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: var(--textGlobal);
}
main #search .input input[type="text"] {
  width: 100%;
  padding: 0 2rem;
}
main #search .input button {
  width: 10rem;
  cursor: pointer;
}

main #alert {
  width: 100%;
  text-align: center;
}
main #alert p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--title);
}
@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
main #alert p > span {
  animation: opacity 0.7s infinite;
  font-size: 2rem;
}
main #alert p > span:nth-child(1) {
  animation-delay: 0.1s;
}
main #alert p > span:nth-child(2) {
  animation-delay: 0.2s;
}
main #alert p > span:nth-child(3) {
  animation-delay: 0.3s;
}

main #content {
  display: none;
  max-width: 60rem;
  min-width: 25rem;
  background: var(--container);
  padding: 6rem;
  border-radius: 5rem;
}
main #content .main,
main #content .footer .infos .card,
main #content .footer .infos,
main #content .footer .temperatureInfo .minMax {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
main #content .main {
  gap: 8rem;
}
main #content .main .text,
main #content .footer,
main #content .footer .temperatureInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #content .main .text h2 {
  font-size: 2rem;
  font-weight: 400;
}
main #content .main .text > p {
  font-size: 7rem;
  font-weight: 400;
}
main #content .main .text .type,
main #content .footer .temperatureInfo .minMax {
  background: var(--box);
  padding: 0.6rem 1rem;
  border-radius: 3rem;
  white-space: nowrap;
}
main #content .main .text .type > p {
  font-size: 1.6rem;
  font-weight: 400;
}
main #content .main > .image > img {
  width: 9rem;
}

main #content .footer {
  margin-top: 6rem;
}
main #content .footer .temperatureInfo {
  margin-top: 3rem;
}
main #content .footer .infos .card,
main #content .footer .temperatureInfo .minMax {
  gap: 1rem;
}
main #content .footer .infos .card > img,
main #content .footer .temperatureInfo .minMax img {
  width: 2rem;
}
main #content .footer .infos .card > span,
main #content .footer .temperatureInfo .minMax span,
main #content .footer .temperatureInfo p {
  font-size: 1.6rem;
  font-weight: 400;
}
main #content .footer .temperatureInfo .sensitiveTemperature {
  margin-top: 1.8rem;
}
@media (max-width: 420px) {
  main {
    padding: 6rem 0 0;
  }
  main #content {
    width: 100%;
    border-radius: 5rem 5rem 0 0;
  }
  main #content > .main {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
@media (max-width: 365px) {
  main #content .footer .temperatureInfo .minMax {
    flex-direction: column;
    padding: 2rem;
  }
  main #content .footer .temperatureInfo .minMax span:nth-child(3),
  main #content .footer .temperatureInfo .minMax img {
    display: none;
  }
}
@media (max-width: 350px) {
  main #content .footer .infos {
    flex-direction: column;
  }
}
