main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #search h1 {
  font-size: 4rem;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 2rem;
}
main #search .input {
  width: 30rem;
  height: 5rem;
  background: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
}
main #search .input form {
  display: flex;
}
main #search .input input,
main #search .input form {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  font-size: 1.6rem;
}
main #search .input button {
  width: 8rem;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--gray);
  font-size: 1.6rem;
  color: #fff;
}
@keyframes loading {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
main #alert {
  margin: 2rem 0;
}
main #alert p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
}
main #alert p span {
  animation-name: loading;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
main #alert p span:nth-child(1) {
  animation-delay: 0.1s;
}
main #alert p span:nth-child(2) {
  animation-delay: 0.2s;
}
main #alert p span:nth-child(3) {
  animation-delay: 0.3s;
}
main #content {
  display: none;
  width: 80rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background: #fff;
}
main #content .left,
main #content .right {
  width: 30rem;
  height: 35rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main #content .left .message-time {
  width: 100%;
  align-self: left;
  margin-bottom: 1rem;
}
main #content .left .message-time p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray);
  margin-top: 2rem;
}
main #content .left .message-time .city {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}
main #content .left .message-time .city img {
  width: 3rem;
}
main #content .left .message-time h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--black);
  text-align: center;
  margin-top: 0.8rem;
}
main #content .left .img-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #content .left .img-weather {
  margin-top: 2rem;
}
main #content .left .img-weather img {
  width: 12rem;
}
main #content .left .img-weather p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gray);
  margin-top: 1.5rem;
}
main #content .right .infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main #content .right .infos .option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  cursor: pointer;
}
main #content .right .infos .option img {
  width: 2rem;
}
main #content .right .infos p {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--gray);
}
main #content .right .temperature .min-max,
main #content .right .temperature .min-max .min,
main #content .right .temperature .min-max .max,
main #content .right .temperature .tempActual {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #content .right .temperature .min-max {
  gap: 1rem;
}
main #content .right .temperature .min-max .min,
main #content .right .temperature .min-max .max {
  gap: 0.5rem;
  cursor: pointer;
}
main #content .right .temperature .min-max .min p,
main #content .right .temperature .min-max .max p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--gray);
}
main #content .right .temperature .min-max .min img,
main #content .right .temperature .min-max .max img {
  width: 2rem;
}
main #content .right .temperature .tempActual {
  flex-direction: column;
}
main #content .right .temperature .tempActual p {
  font-size: 8rem;
  font-weight: 500;
  color: var(--black);
}
main #content .right .temperature .tempActual p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray);
}
